@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.App {
  text-align: center;
  font-family: 'Quantico', sans-serif;
  background-color: #282c34;
  height: 100vh;
}

.todoHeader {
  background-color: #61dafb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: #282c34;
}

.todo-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.addTaskForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.taskInput {
  width: 300px;
  height: 25px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  padding: 10px;
  font-size: 1rem;
  font-family: 'Quantico', sans-serif;
}

.taskInput:focus {
  box-shadow: 0 0 5px 2px #fb618f;
}

.addTaskBtn {
  height: 45px;
  width: 150px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  background-color: #61dafb;
  font-family: 'Quantico', sans-serif;
  font-size: 1rem;
}

.addTaskBtn:hover {
  background-color: #fb618f;
}

.task {
  width: 800px;
  padding: 0 10px;
  margin: 10px auto 0 auto;
  background-color: lightgrey;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task:hover {
  background-color: #fb618f;
}

.delete-btn {
  height: 45px;
  width: 150px;
  border-radius: 5px;
  border: none;
  background-color: #61dafb;
  font-family: 'Quantico', sans-serif;
  font-size: 1rem;
}

.delete-btn:hover {
  background-color: lightgrey;
}

.task-text {
  display: flex;
}

.task-completed {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
